<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,1},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,236},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,471},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,706},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,941},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1815,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0577833820fd4c5da05305b86ff5f285:f1124218ae2d72380c9e9e2365e9e320:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
