<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,1},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,1},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,171},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,236},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,341},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,511},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,471},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,681},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,706},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,851},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1646,941},{168,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{236,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{471,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{706,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{941,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1176,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,233}</string>
                <key>spriteSourceSize</key>
                <string>{168,233}</string>
                <key>textureRect</key>
                <string>{{1411,1021},{168,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1815,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe9ea9a7a3494bff92b34357cb543881:06db1cb168fef37c3ed28f1ba7a65c44:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
